body{
    background: #efefef;
}
.media-object{
    width: 40px;
    height: 40px;
}
.detail-information{
    font-size: 12px;
    font-weight: normal;
    color: #999
}
.container-ask{
    margin: 30px 50px;
    background: white;
}
.nav-color{
    background: #33cfff;
}
.container-ask .list-group{
    margin: 20px;
}
