body{
    background: #efefef;
}
.container-ask{
    background: white;
    margin: 30px;
    padding-left: 25px;
}
.btn-success{
    float: right;
    margin-bottom: 20px;
    margin-right: 30px;
}
.btn-error-login{
    text-align: center;
    width: 500px;
    float: left;
}
.nav-color{
    background: #33cfff;
}