.container-ask{
    padding-left: 25px;
    padding-top: 10px;
    margin: 30px 175px;
}
.creator img{
    width: 30px;
    height: 30px
}
.question-reply{
    margin: 10px 0;
}
.question-reply button{
    float: right;
    margin: 10px 0;
}
.question-reply .creator{
    margin: 10px 0;
}
.comments .agree_comment .comment_create_time{
    float:right;
    font-size: 12px;
    font-weight: normal;
    color: #999
}
.media-heading{
    color: #666;
    font-size: 12px;
}
.red-heart{
    color: #999;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 10px;
}
.comments .agree_comment{
    margin-top: 10px;
}
.comments .agree_comment .comment{
    color: #999;
    cursor: pointer;
}
.red-heart:hover{
    color: #499ef3;
}
.comments .agree_comment .comment:hover{
    color: #499ef3;
}
.reply-count{
    margin-top: 30px;
}
.reply-submit{
    margin-top: 30px;
    margin-bottom: 20px;
}
.comments{
    border-bottom: #f5f5f5 solid 1px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}